# Database
DATABASE_URL="postgresql://your-username:your-password@your-host:5432/your-database"

# JWT
JWT_SECRET="your-super-secret-jwt-key-here"

# Next Auth
NEXTAUTH_SECRET="your-nextauth-secret"
NEXTAUTH_URL="http://localhost:3000" 